/* Coolors Exported Palette - https://coolors.co/0e1214-deb98e-834018-383e38-966d4d */

/* CSS HEX */
--night: #0E1214ff;
--tan: #DEB98Eff;
--russet: #834018ff;
--black-olive: #383E38ff;
--raw-umber: #966D4Dff;

/* CSS HSL */
--night: hsla(200, 18%, 7%, 1);
--tan: hsla(32, 55%, 71%, 1);
--russet: hsla(22, 69%, 30%, 1);
--black-olive: hsla(120, 5%, 23%, 1);
--raw-umber: hsla(26, 32%, 45%, 1);

/* SCSS HEX */
$night: #0E1214ff;
$tan: #DEB98Eff;
$russet: #834018ff;
$black-olive: #383E38ff;
$raw-umber: #966D4Dff;

/* SCSS HSL */
$night: hsla(200, 18%, 7%, 1);
$tan: hsla(32, 55%, 71%, 1);
$russet: hsla(22, 69%, 30%, 1);
$black-olive: hsla(120, 5%, 23%, 1);
$raw-umber: hsla(26, 32%, 45%, 1);

/* SCSS RGB */
$night: rgba(14, 18, 20, 1);
$tan: rgba(222, 185, 142, 1);
$russet: rgba(131, 64, 24, 1);
$black-olive: rgba(56, 62, 56, 1);
$raw-umber: rgba(150, 109, 77, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0E1214ff, #DEB98Eff, #834018ff, #383E38ff, #966D4Dff);
$gradient-right: linear-gradient(90deg, #0E1214ff, #DEB98Eff, #834018ff, #383E38ff, #966D4Dff);
$gradient-bottom: linear-gradient(180deg, #0E1214ff, #DEB98Eff, #834018ff, #383E38ff, #966D4Dff);
$gradient-left: linear-gradient(270deg, #0E1214ff, #DEB98Eff, #834018ff, #383E38ff, #966D4Dff);
$gradient-top-right: linear-gradient(45deg, #0E1214ff, #DEB98Eff, #834018ff, #383E38ff, #966D4Dff);
$gradient-bottom-right: linear-gradient(135deg, #0E1214ff, #DEB98Eff, #834018ff, #383E38ff, #966D4Dff);
$gradient-top-left: linear-gradient(225deg, #0E1214ff, #DEB98Eff, #834018ff, #383E38ff, #966D4Dff);
$gradient-bottom-left: linear-gradient(315deg, #0E1214ff, #DEB98Eff, #834018ff, #383E38ff, #966D4Dff);
$gradient-radial: radial-gradient(#0E1214ff, #DEB98Eff, #834018ff, #383E38ff, #966D4Dff);